<div class="col-5 mx-auto">
    <div class="container mt-5">
      <form action="/auth/login" method="POST">
        <div class="row">
          <div class="col-12">
            <label>Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              placeholder="JD@gmail.com"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="*******"
            />
          </div>
        </div>
        <button class="btn btn-primary btn-block">Log In</button>
      </form>
    </div>
  </div>
  