<div class="container">
    <form action="/bar/advSearch/get" method="POST">

        <label for="">Advanced Search</label>
        <input type="text" class="form-control" name="barName" id="" placeholder="Push">

        <input type="text" class="form-control" name="HHPrice" id="" placeholder="10">

        <button class="btn btn-info my-2" type="submit">Search</button>

    </form>

</div>